
div{
    text-align: center;
}

h1{
    color: rgb(150, 1, 1);
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    border: 5px dotted;
    padding: 10px;
    display: inline-block;
    margin: 10px auto;
}

p{
    color: rgb(41, 41, 41);
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    margin: 0 60px;
}

ul{
    color: rgb(41, 41, 41);
    font-size: 20px;
    margin: 0 55px;
}

ol {
    color: rgb(41, 41, 41);
    font-size: 20px;
    margin: 0 55px;
}

.header{
    color: rgb(150, 1, 1);
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    margin: 10px 50px;
    display: inline-block;
    border: 5px dotted;
    padding: 10px;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    height: auto;
    max-width: 600px;
    
}