*{
    background-color: rgb(179, 233, 255);
}

h1{
    color: rgb(150, 1, 1);
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

p{
    color: rgb(41, 41, 41);
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: bold;
}

ul{
    color: rgb(41, 41, 41);
    font-size: 20px;
    font-weight: bold;
}

ol {
    color: rgb(41, 41, 41);
    font-size: 20px;
    font-weight: bold;
}

.header{
    color: rgb(150, 1, 1);
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    height: auto;
    max-width:fit-content;
}