body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-align: center;
  background-image: url(../images/pexels-aleksandar-pasaric-1415734.jpg);
  background-position: center;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.picture{
  border-radius: 50%;
  width: 40%;
  height:auto;
}

h1{
  margin: 0 auto 15px;
  width: max-content;
  font-size: 2.5em;
  font-weight: bold;
  font-family:'Courier New', Courier, monospace;
  background-color: rgb(255,69,0,0.7);
  padding: 12px;
}

.main{
  margin: 0 20px 20px 20px;
  padding: 0 50px 50px 50px;
  text-align: justify;
  font-weight: bold;
  font-size: 1.2em;
}

@media(max-width: 600px){
  .main{
    margin: auto;
    padding: 10px;
  }
}

strong{
  text-decoration: underline;
  text-decoration-thickness: from-font;
}

h2{
  text-decoration: underline;
  text-decoration-thickness: from-font;
}

li{
  list-style-position: inside;
}

.description{
  background-color: rgb(245, 222, 179, 0.8);
  border-radius: 20px;
  padding: 10px;
}

.ingredients{
  background-color: rgb(255, 127, 80, 0.8);
  border-radius: 20px;
  padding: 10px;
  margin-top: 10px;
}

.steps{
  background-color: rgb(95, 158, 160, 0.8);
  border-radius: 20px;
  padding: 10px;
  margin-top: 10px;
}