body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  height: 100vh;
  background-image: url(images/pexels-engin-akyurt-1435895.jpg);
  background-position: center;
}

h1{
  margin-top: 1.8em;
  margin-bottom: 0;
  font-size: 3em;
  font-weight: bold;
  color: #1e3811;
  text-shadow: -2px 1px 2px;
  font-family:Arial, Helvetica, sans-serif;
  text-decoration: underline;
}

a{
  text-decoration: none;
  color: ivory;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2em;
  font-weight: bold;
}

a:hover{
  color: yellow;
}


ul{
  list-style-type: none;
}

.page-wrapper{
  display: flex;
  flex-direction: column;
  height: inherit;
  justify-content: space-between;
}

.main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: inherit;
}

footer{
  padding-bottom: 1.5em;
  font-size: 1.2em;
  font-weight: 600;
  font-style: italic;
}
