*{
    background-color: turquoise;
}

h1{
    text-align: center;
    font-size: 100px;
}

ul{
    font-size: 50px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

h2{
    text-align: right;
    font-size: 30px;
    font-family: cursive, 'Times New Roman', Times, serif;
}